<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>         

<body>
    <h1>this is my first website</h1>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ea quas perspiciatis voluptatum, aperiam
            sequi voluptas asperiores totam illum ullam porro id vero nesciunt est recusandae rerum aliquam consequuntur
            voluptatibus.</li>
        <li>Neque sapiente exercitationem amet iure, dicta facere placeat modi doloribus reiciendis ipsa in commodi
            iusto nulla hic soluta, provident, delectus aperiam similique. Maiores quis temporibus quam! Consectetur
            natus sunt delectus?</li>
        <li>Consectetur, libero impedit aliquid molestias odit corrupti cupiditate et ut odio? Expedita enim quo id et
            voluptatibus reprehenderit dolorum reiciendis, amet labore ut maiores commodi dicta? Similique deleniti
            facere quasi.</li>
        <li>Velit asperiores iusto ut harum quis obcaecati sapiente nihil accusamus at iste nisi ad nemo hic veritatis
            aperiam, consequatur adipisci dolore incidunt quam in consectetur vitae! Dolore quam obcaecati
            reprehenderit.</li>
        <li>Eveniet dolorum, fuga iusto porro quo odit aspernatur quod dicta temporibus sit asperiores explicabo, magni
            officiis rerum id suscipit molestias cum, tempore aliquid at voluptatem. Eaque, explicabo nulla? Minus,
            soluta.</li>
    </ul>
    <div>
        <article>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste architecto vero minima consequuntur
                aspernatur, possimus eaque nisi quo recusandae repellat minus ex facilis? Necessitatibus veritatis nemo
                sapiente repellendus eum. Iusto.</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In animi itaque accusantium, similique neque
                odit voluptatibus nesciunt tempore ipsam ab dolorum quibusdam tempora dignissimos recusandae veritatis
                necessitatibus ex facere! Officiis aut rem quidem velit voluptatibus, quibusdam dolor laboriosam sint
                quis nulla. Perspiciatis dolorem reiciendis officia eos reprehenderit voluptatem nobis eius recusandae
                rem sunt doloremque maiores expedita explicabo similique minima dolor maxime odio unde quia,
                consequuntur dolores ex repellendus sit. Temporibus necessitatibus tenetur, dignissimos nostrum
                molestiae sed, pariatur repellendus ad nemo sint quisquam amet consectetur et vitae dolore cumque non
                esse sapiente aperiam. Eius maiores distinctio autem facere iure. Maiores, quod?</p>
        </article>
        <article>
            <h1>Quod dicta voluptatibus quaerat assumenda, facilis ducimus necessitatibus adipisci vitae saepe sapiente
                laboriosam cum! Vitae quidem magnam suscipit, quibusdam officia natus delectus sint facilis et!
                Temporibus pariatur delectus amet voluptatum.</h1>
            <p>Repellendus adipisci ipsam cum hic quidem omnis optio magnam aliquam voluptates, quisquam dicta nulla
                perferendis fuga, voluptatem ratione porro culpa tempore dignissimos, impedit libero quae. Obcaecati
                blanditiis quod temporibus iste perferendis nobis doloremque quibusdam repellendus! Soluta aperiam ab
                dicta earum accusamus magni cumque harum recusandae perspiciatis voluptas architecto sapiente natus
                itaque odio, dolore incidunt, reiciendis sint! Assumenda quo enim nisi quam eligendi ab harum maiores
                modi dolorem adipisci libero, expedita soluta ratione facilis laboriosam consequatur, porro iusto,
                veritatis ad voluptate provident minus placeat quidem! A ad minima, deserunt voluptates animi, cumque
                nulla illo recusandae odio tenetur deleniti facere exercitationem commodi!</p>
        </article>
        <article>
            <h1>Illo fugiat reiciendis deleniti tempora soluta quo est esse, officia optio. Placeat obcaecati
                dignissimos sequi rem ullam quas quia incidunt, optio nihil? Alias adipisci, minus eos eum porro dolore
                incidunt?</h1>
            <p>Quo vitae vero fugit voluptas suscipit nam autem incidunt illo non iusto beatae, tenetur molestias atque
                rem eos fuga nobis, explicabo quam maxime impedit laborum eius nostrum. Molestias vel nulla laudantium
                nihil earum incidunt, doloremque, illo voluptate ex possimus aliquid omnis sapiente neque, dolorem
                labore totam odio reiciendis deserunt nesciunt est eos. Tempora, nobis maxime cumque quasi quas
                necessitatibus adipisci aut, explicabo quisquam vero quis soluta assumenda laborum natus, maiores cum?
                Facilis harum optio id commodi amet aut, debitis doloribus nihil. Maxime modi placeat nulla sapiente
                nesciunt, incidunt eveniet eius excepturi quod, harum magni voluptatum sunt, voluptatem natus! Quae,
                consectetur.</p>
        </article>
        <article>
            <h1>Fugiat eos provident nostrum corporis distinctio atque sunt quam animi quibusdam obcaecati placeat,
                quis, in quas culpa vel debitis unde libero at, impedit nulla vero. Placeat quas laudantium ex corrupti.
            </h1>
            <p>Ratione suscipit ducimus reiciendis quidem! Cum nemo id iure architecto dolorem iste, deleniti deserunt
                adipisci odio itaque omnis quisquam placeat magni magnam dolore commodi velit officiis quam sequi
                molestiae soluta perspiciatis, illum hic est? Ducimus corrupti, culpa similique tempore nobis nesciunt
                omnis ipsum assumenda. Sit beatae error facilis recusandae repudiandae ab similique animi voluptates
                mollitia esse aspernatur natus ex neque fugit, eius sint ad minus eos. Id dolorem dignissimos, molestiae
                laborum voluptate aspernatur quidem illo rerum sit doloremque tenetur, recusandae iste sunt accusamus
                corporis sint ut placeat. Nobis similique, eaque rerum sint iste, quo aut tempore eum laudantium itaque
                explicabo.</p>
        </article>
        <article>
            <h1>Doloremque deserunt labore, laudantium voluptatum, minima praesentium nesciunt perferendis fuga ad quia
                aut non eum quo quaerat illo id saepe obcaecati nam odio tempora ducimus. Veniam illum error numquam
                nisi!</h1>
            <p>Inventore corrupti, optio atque voluptatum possimus, dolore minima rerum debitis repellendus sint ratione
                hic obcaecati deleniti temporibus provident! Voluptate, quisquam accusantium eligendi molestiae autem
                fugiat quod? Odio iste alias repellat consequatur maiores nisi iure fugit illum porro minus. Iusto
                minima tempore quis qui facere veniam hic asperiores, accusamus ipsam quasi enim incidunt placeat fugiat
                iure excepturi a, dolor error. Magnam dicta nesciunt voluptas quia, officia perspiciatis enim voluptate
                commodi natus tempore nihil omnis facere! Commodi maxime nulla, recusandae qui ipsam aliquam earum
                itaque deleniti autem praesentium quos cupiditate aliquid repellat laudantium deserunt nemo magnam quam
                vitae pariatur? Accusantium, culpa ad?</p>
        </article>
    </div>
</body>

</html>